@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.directory-container{
    width: 25%;
    min-height: 8rem;
    overflow: hidden;
    background-color: rgba(211, 210, 210, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    padding: 1.2rem;
    display: flex;
}
.img-directory-container{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.directory-img{
    height: 100%;
}

.directory-name{
    font-size: 1.5rem;
    font-family: 'Outfit','Arial';
}
.directory-subtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(58, 58, 58);
}
.directory-contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(162, 162, 162);
}

@media (max-width:834px) {
    .directory-container{
        width: 45%;
    }
    .img-directory-container{
        width: 6rem;
        height: 6rem;
    }
    .directory-name{
        font-size: 1rem;
    }
}

@media (max-width:550px) {
    .directory-subtitle, .directory-contact{
        font-size: 0.65rem;
    }
}

@media (max-width:330px) {
    .directory-name{
        font-size: 0.8rem;
    }
    
    .directory-subtitle, .directory-contact{
        font-size: 0.5rem;
    }
}