@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

li{
    list-style: none;
}
li:hover{
    cursor: pointer;
}
li:hover .list-text{
    color: #505050;
}

/* Clases */

.par{
    text-align: start;
}

#main-container{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.box{
    width: 35%;
}
.main-box{
    width: 60%;
}

.list-text{
    font-size: 1em;
    color:white;
}

.title{
    font-family: 'Playfair Display', serif;
}
.subtitle{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #505050;
}

.texto{
    font-size: 1.2rem;
    text-align: justify;
}

.glassBox{
    background-color: rgba(211, 210, 210, 0.125);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
    cursor: pointer;
}
.glassBox:hover {
    background-color: rgba(211, 210, 210, 0.25);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.glassBox:hover .glass-card-image {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.glass-card-image{
    width: 70%;
}

.glass-card-title{
    padding-top: 10px;
}

.info{
    text-align: justify;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

/* Diseño del footer */
.main-footer{
    width: 100%;
    min-height: 20rem;
    background-color: #384a4f;
    padding: 2rem;
    overflow: hidden;
}
.icon{
    width: 8rem;
    
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes opacityFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

.dark{
    animation: opacityFadeIn 1.6s ease-out forwards;
    opacity: 0;
}
.animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
}

/* Ajuste para pantallas pequeñas */
@media (max-width:800px) {
    .box{
        width: 60%;
    }

    .list-text{
        font-size: 90%;
    }
    .main-box{
        width: 90%;
    }

    .texto{
        font-size: 75%;
    }

    .glassBox{
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 550px) {
    #main-container {
        background-position: center center;
        background-position: center 40%;
        height: auto;
        padding: 20px 0 !important;
    }
    h1{
        font-size: 3rem;
    }

    .box{
        width: 90%;
    }
    .par{
        font-size: 60%;
    }
    .list-text{
        font-size: 50%;
    }
}

@media (max-width:330px) {
    .glassBox{
        width: 8rem;
        height: 8rem;
    }
    .glass-card-title{
        font-size: 78%;
    }
    
}