h1.title{
    font-size:2.5rem !important;
}
/* .references-list{
    display: block;
    padding: 0;
    margin: 0;
}
.reference-item{
    cursor: default !important;
    margin: 1.5rem 0;
}
.reference{
    text-indent:-2em;
    padding-left: 2em;
    font-family: Arial, Helvetica, sans-serif;
} */