@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Clases e identificadores*/
#main-container2{
    background-image: url('../images/capibara2.jpg');
    background-position: center 20%;
}

.collapse-resize{
    width: 20rem;
}
.col-resize{
    display: flex;
    justify-content: center;
    flex: 0;
}
